*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
}

.landing{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.showList{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5vw;
}