.popup {
  position: fixed;
  top: 23vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow-y: scroll;
}
.popupPage {
margin: 5vw;
}

.popup .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;
}

.popup .content h3{
  font-size: 1rem;
}

.title{
  display: flex;
  justify-content: space-between;
}
.title .closeButton{
  height: 10px;
  width: 10px;
}
.title .closeButton >button{
font-size: 1.2rem;
font-weight: 900;
height: 25px;
width: 25px;
}

.information{
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.showInformation{
  display: flex;
  margin-bottom: 5vh;
}

.cast{
  display: flex;
  vertical-align: top;
  line-height: 30px;
}
.genre{
  display: flex;
  vertical-align: top;
  line-height: 30px;
}
.status{
  display: flex;
  vertical-align: top;
  line-height: 30px;
}

h3{
  margin-right: 5px;
}
